html, body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 70px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.header {
    background-color: #920604;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

footer {
    background-color: #920604;
    height: 60px;
}
