{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/core_styles/inicial.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <form method="GET" class="input-group" action="">
                <input type="text" name="search" class="form-control" placeholder="Buscar cliente por nome..." value="{{ search_query|default:'' }}">
                <button class="btn" style="background-color: #920604; color: white;" type="submit">Buscar</button>
            </form>
        </div>
    </div>
        {% if search_query %}
            {% if customers %}
                <div class="mt-4 text-start">
                    <h5>Resultados da Busca</h5>
                    <ul class="list-group">
                        {% for obj in customers %}
                            <li class="list-group-item">
                                <a href="{% url 'customer_detail' obj.id %}" class="btn">{{ obj.name }} - {{ obj.phone_number }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="mt-4 text-start">
                    Nenhum cliente encontrado para "{{ search_query }}"
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if not search_query %}
        <div class="content">
            <div class="row">
                <div class="col-md-3 custom-sidebar">
                    <div class="section-box">
                        <div class="d-flex">
                            <i class="bi bi-people-fill" style="margin-right: 3px;"></i>
                            <h5>Clientes</h5>
                        </div>
                        <div class="buttons">
                            <a href="{% url 'customers_list' %}" class="btn btn-outline-primary btn-sm">Abrir</a>
                            <a href="{% url 'customer_create' %}" class="btn btn-outline-success btn-sm">Adicionar</a>
                        </div>
                    </div>
                    <div class="section-box">
                        <div class="d-flex">
                            <i class="bi bi-tools" style="margin-right: 3px;"></i>
                            <h5>Manutenções</h5>
                        </div>
                        <div class="buttons">
                            <a href="{% url 'maintenances_list' %}" class="btn btn-outline-primary btn-sm">Abrir</a>
                            <a href="{% url 'maintenance_create' %}" class="btn btn-outline-success btn-sm">Adicionar</a>
                        </div>
                    </div>
                    <div class="section-box">
                        <div class="d-flex">
                            <i class="bi bi-car-front" style="margin-right: 3px;"></i>
                            <h5>Veículos</h5>
                        </div>
                        <div class="buttons">
                            <a href="{% url 'maintenances_list' %}" class="btn btn-outline-primary btn-sm">Abrir</a>
                            <a href="{% url 'vehicle_create' %}" class="btn btn-outline-success btn-sm">Adicionar</a>
                        </div>
                    </div>
                    {% if user.is_staff %}
                    <div class="section-box">
                        <div class="d-flex">
                            <i class="bi bi-person-fill-gear" style="margin-right: 3px;"></i>
                            <h5>Colaboradores</h5>
                        </div>
                        <div class="buttons">
                            <a href="{% url 'users' %}" class="btn btn-outline-primary btn-sm">Abrir</a>
                            <a href="{% url 'register' %}" class="btn btn-outline-success btn-sm">Adicionar</a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-9 custom-table" style="border: 1px solid rgba(0, 0, 0, 0.274); border-radius: 10px; padding: 15px; background-color: white;">
                    {% if objects_in_progress %}
                        {% if objects_in_progress|length == 1 %}
                            <h4>1 Manutenção Pendente</h4>
                        {% else %}
                            <h4>{{ objects_in_progress|length }} Manutenções Pendentes</h4>
                        {% endif %}
                    {% else %}
                        <h4>Manutenções Pendentes</h4>
                    {% endif %}
                    <hr>
                    <div class="row scrollable-maintencoes">
                        {% for obj in objects_in_progress %}
                            <div class="card px-0" style="width: 20rem; margin: 10px;">
                                <div style="background-color: rgba(255, 0, 0, 0.499); padding: 5px;"><strong>#{{ obj.id }}</strong></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ obj.vehicle.brand }} {{ obj.vehicle.model }}</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary"><strong>Status:</strong><strong class="text-warning"> PENDENTE <i class="bi bi-exclamation-circle"></i></strong></h6>
                                    <p class="mb-0"><strong>Placa:</strong> {{ obj.vehicle.plate }}</p>
                                    <p class="mb-0"><strong>Valor Total:</strong> {{ obj.total_value }}</p>
                                    <a href="{% url 'maintenance_detail' obj.id %}" class="btn-dark-custom mt-2">Visualizar</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
